name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Display files
        run: ls

      - name: Build Success Message
        run: echo "CI Pipeline executed successfully!"
